
body{
    background-color: #ffffff;
    font-family: 'Roboto';
}
.container{
    display: flex;
    margin: auto;
    
}
.topo{
    width: 100%;
    height: 86px;
    background-color: #404EED;
    display: flex;
    align-items: center;
}
.topo img{
    margin-left: 80px;
}
.container h1{
margin-top: 39px;
margin-left: 125px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
font-family: 'Roboto';

}
.modelos h2{
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    text-align: center;
    font-family: 'Roboto';
}
.modelos{
    display: flex;
margin: 18px 100px;

}

.modelo1 img{
   margin-left: 10px;
   margin-top: 10px;
}
figure{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: 0.5px solid #C4C4C4;
    cursor: pointer;
}
.modelo2{
    position: absolute  ;

 margin-left: 155px;
 margin-top: 10px;
 cursor: pointer;
z-index: 1;
}
.modelo2 img {
    margin-left: 10px;
    margin-top: 10px;
}
.modelo3{
    position: absolute;
  margin-left: 310px;
  margin-top: 10px;
  cursor: pointer;
  z-index: 3;
}
.modelo3 img {
    margin-left: 10px;
    margin-top: 10px;
}
.golas{
    display: flex;
margin: 18px 100px;
}
.golas img{
    position: relative;
    margin: 0 25px;
}
.gola1 img {
    margin-top: 20px;
    margin-left: 10px;
}

.gola2{
    position: absolute;
    margin-left: 155px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 1;
}
.gola2 img {
    margin-top: 10px;
    margin-left: 10px;
}
.gola3{
    position: absolute;
    margin-left: 310px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 1;
}
.gola3 img {
    margin-top: 20px;
    margin-left: 10px;
}
  
       
    
    div h3{
        margin-top: 60px;
margin-left: 125px;
font-weight: 400;
font-size: 18px;
line-height: 22px;
font-family: 'Roboto';
font-size: 18px;
font-weight: 400;
}
.golas h2{
  
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    
}
.tecidos{
    display: flex;
margin: 18px 100px;
}
.tecidos img{
    position: relative;
    margin: 0 25px;
}
.tecido1 img{
    margin-top: 25px;
}

.tecido2{
    position: absolute;
    margin-left: 155px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 1;
}
.tecido2 img{
    margin-top: 20px;
    margin-left: 20px;
}
.tecido3{
    position: absolute;
    margin-left: 310px;
    margin-top: 10px;
    cursor: pointer;
    z-index: 1;
}
.tecido3 img {
    margin-top: 20px;
    margin-left: 20px;
}
.tecidos h2{
    margin-top: 32px;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
}
.imagemLateral{
    background-color: #404EED;
    margin-left: 150px;
    width: 100%;
    height: 830px;
    display: flex;
  justify-content: center;
  align-items: center;

   
}
.imagemLateral img {
    margin-left: 30px;
    
}

.imgRef {
    margin-top: 60px;
}
input{
    margin-left: 125px;
    margin-top: 10px;
    width: 397px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #d1d1d1
    
}
.urlImg{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    
}
input::placeholder{
    font-size: 19px;
    font-style: italic;
    color: #bababa;
    font-weight: 400;
}
button{
    width: 398px;
    height: 40px;
    margin-left: 128px;
    border-radius: 10px;
    background-color: #C4C4C4;
    border: 1px solid #d1d1d1;
    margin-top: 30px;
    margin-bottom: 40px;
    font-family: 'Roboto';
    font-size: 20px;
    color: #FCFCFC;
    cursor: pointer;
}

.novaAba{
    width: 100%;
    height: 342px;
    position: absolute;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
}
.selecionado{
 border: 3px solid #404EED;
}
.botaoFinal{
    background-color: #404EED;
}
.barrainferior h3{
    margin-top: 10px;
    margin-left: 125px;
    font-size: 24px;
    line-height: 22px;
    font-family: 'Roboto';
    font-weight: 400;

}
.pedidosFinais{
    width: 1510px;
    display: flex;
    overflow-x: scroll;
    gap: 15px;
}
.barrainferior{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0px;
}